*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 6% 0 0 36%;
    position: relative;
    width: 25%;
}
.image{
    display: block;
    width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.808);
    overflow: hidden;
    transition: 0.5s ease;
}
.container:hover .overlay{
    height: 100%;
    color: white;
}